@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* fonts */
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* buttons */
header .btn{
    border-radius: 0;
    color: white;
    transition: 0.2s linear;
}
.btn:hover, a:hover{
    border-bottom-color: #dfa2ad;
}
/* Global tags */
a{
    color: currentColor;
    text-decoration: none;
}
button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}
.entire-page-container{
    height: 100vh;
    width: 100%;
}
.link{
    font-size: larger;
    transition: 0.2s linear;
}
.link:hover{
    padding-left: 0.5rem;
    color: #dfa2ad;
}

